<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static',filename='css/styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script src="{{ url_for('static',filename='js/dropzone.js')}}"></script>
  <link rel="stylesheet" type='text/css' href="{{ url_for('static',filename='css/dropzone.css') }}" />
  <script>
$(document).ready(function() {
    $(document).foundation();
    // File upload
    Dropzone.options.uploadForm = {
      maxFiles : 1,
      paramName : 'figure',
      clickable : "#dz-target",
      //Event handling
      init: function() {
        this.on('success',function(file,response) { 
          $("#upload-form div.alert-box.success").show();
          setTimeout(function() {location.reload()},2000);
          });
        },
    };
    // Don't know why this isn't in the framework
    $(".disabled").click(function() {
      return false;
      });
    // The figure specific nav bar
    $(".fig-nav .extra-info-toggle").click(function() {
      $(this).closest('.container').find('.extra-info').toggle('slow')
      });
    //The main nav bar
    var sort_opts = ["Name","Date","Format"];
    var i;
    //$("#main-nav .top-bar-section .dropdown li a").click(function() {
    $("#sort-options li a").click(function() {
      //Hide currently active, set new sort 
      for (i = 0; i < sort_opts.length; i++) {
        if( $(this).text() === sort_opts[i] ) {
          var node = $("#sort-".concat(sort_opts[i]));
          node.show();
          //Get direction from hidden DOM storage
          if(node.children('.sort-order').text() === 'Ascending') {
            $("#reverse-sort > a").text('Ascending');
          } else {
            $("#reverse-sort > a").text('Descending');
          }
        } else {
          $("#sort-".concat(sort_opts[i])).hide();
        }
      }
      //Update header
      //$("#main-nav .top-bar-section .has-dropdown > a").text("Sort by | ".concat($(this).text()))
      $("#main-nav .top-bar-section .right .has-dropdown > a").text("Sort by | ".concat($(this).text()))
      //Suppress click
      return false;
    });
    $("#reverse-sort").click(function() {
      //Reverse the active one
      var list = $("#figures").children("div:visible");
      var listItems = list.children('div.figure');
      list.append(listItems.get().reverse());
      //Swap ascending and descending
      if( $("#reverse-sort > a").text() === "Ascending") {
        $("#reverse-sort > a").text('Descending');
        list.children(".sort-order").text('Descending')
      } else {
        $("#reverse-sort > a").text('Ascending');
        list.children(".sort-order").text('Ascending')
      }
      return false;
    });
})
</script>
    {% block head %}
    <title>{% block title %}{% endblock %} - myFig</title>
    {% endblock %}
</head>
<body>
    <div id='header'>
      {% block header %}
      {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <div class="text-center">
        &copy; Copyright 2015 by <a href="https://github.com/constantAmateur/myfig">Matthew Young</a>.
      </div>
      {% endblock %}
    </div>
</body>
</html>
