<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type='text/css' href="{{ url_for('static',filename='styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script>
$(document).ready(function() {
    $(document).foundation();
    // The figure specific nav bar
    $(".fig-nav .extra-info-toggle").click(function() {
      $(this).closest('.container').find('.extra-info').toggle('slow')
      });
    //The main nav bar
    var sort_opts = ["Name","Date","Format"];
    var i;
    $("#main-nav .top-bar-section .dropdown li a").click(function() {
      //Hide currently active, set new sort 
      for (i = 0; i < sort_opts.length; i++) {
        if( $(this).text() === sort_opts[i] ) {
          $("#sort-".concat(sort_opts[i])).show();
        } else {
          $("#sort-".concat(sort_opts[i])).hide();
        }
      }
      //Update header
      $("#main-nav .top-bar-section .has-dropdown > a").text("Sort by | ".concat($(this).text()))
      return false;
    });
    $("#reverse-sort").click(function() {
      //Reverse the active one
      var list = $("#figures").children("div:visible");
      var listItems = list.children('div.figure');
      list.append(listItems.get().reverse());
      return false;
    });
})
</script>
    {% block head %}
    <title>{% block title %}{% endblock %} - myFig</title>
    {% endblock %}
</head>
<body>
    <div id='header'>
      {% block header %}
      {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <div class="text-center">
        &copy; Copyright 2015 by <a href="https://github.com/constantAmateur/myfig">Matthew Young</a>.
      </div>
      {% endblock %}
    </div>
</body>
</html>
