<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type='text/css' href="{{ url_for('static',filename='styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script>
$(document).ready(function() {
    $(document).foundation();
    $(".fig-nav .extra-info-toggle").click(function() {
      $(this).closest('.container').find('.extra-info').toggle('slow')
      });
})
</script>
    {% block head %}
    <title>{% block title %}{% endblock %} - myFig</title>
    {% endblock %}
</head>
<body>
    <div id='header'>
      {% block header %}
      {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2015 by <a href="https://github.com/constantAmateur/myfig">Matthew Young</a>.
        {% endblock %}
    </div>
</body>
</html>
