{% extends "base.html" %}
{% from 'macros.html' import render_figure %}
{% from 'macros.html' import render_directory %}
{% from 'macros.html' import render_crumbs %}
{% block title %} Something from path {% endblock %}
{% block content %}
  <div class="panel radius directories">
    <!-- Directory listing -->
    {{render_crumbs(crumbs)}}
    <hr>
    <table class='directories'>
      <thead>
        <tr>
          <th>Name</th>
          <th># Figures</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody>
        {% if request.path != "/" %}
          <tr>
            <th><a href="..">..</a></th>
            <th> -- </th>
            <th> -- </th>
          </tr>
        {% endif %}
        {% for dir in listing.dirs | sort(attribute='name',reverse=False) %}
          {{ render_directory(dir) }}
        {% endfor %}
        <!-- Add the new directory form -->
        <tr>
          <th><input type='text' name='mkdir' id='mkdir-name' placeholder='New folder'></th>
          <th> -- </th>
          <th><a href='#' id='mkdir' class='button radius secondary small'>Create</a></th>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Figures in this directory -->
  <div id='figures'>
    <div id='sort-Date'>
      <div class='sort-order' style='display:none;'>descending</div>
      {% for fig in listing.figures | sort(attribute='cdate',reverse=True) %}
        {{ render_figure(fig,loop.index) }}
      {% endfor %}
    </div>
    <div id='sort-Name' style='display:none;'>
      <div class='sort-order' style='display:none;'>descending</div>
      {% for fig in listing.figures | sort(attribute='name',reverse=False) %}
        {{ render_figure(fig,loop.index+listing.figures|length) }}
      {% endfor %}
    </div>
    <div id='sort-Format' style='display:none;'>
      <div class='sort-order' style='display:none;'>descending</div>
      {% for fig in listing.figures | sort(attribute='ftype',reverse=False) %}
        {{ render_figure(fig,loop.index+listing.figures|length*2) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
