{% extends "base.html" %}
{% from 'macros.html' import render_figure %}
{% block title %} Login to view figures {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-6 columns">
      <div class="signup-panel">
        <p class="welcome"> Please log in.</p>
        <form action='login' method='POST'>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" name='user' placeholder="username">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <input type="password" name='pw' placeholder="password">
            </div>
          </div>
          <input type=hidden value="{{ next or '' }}" name=next>
          <input type ='submit' class="button" value='Log in!'></input>
        </form>
      </div>
    </div>
   </div>
<!--<form action='login' method='POST' class='form'>
 <input type='text' name='email' id='email' placeholder='username'></input>
 <input type='password' name='pw' id='pw' placeholder='password'></input>
 <input type='submit' name='submit'></input>
 <input type=hidden value="{{ next or '' }}" name=next>
</form>-->
{% endblock %}
