{% macro render_directory(obj) -%}
  <div class='directory'>
    <div class='header'>
      <a href="{{ obj.url }}">
        <h3> {{ obj.name }} ({{ obj.count }} Figures) </h3>
      </a>
    </div>
  </div>
{%- endmacro %}

{% macro render_figure(obj) -%}
  <div class='panel radius'>
    <div class='plot'>
      {% if obj.ftype == '.html' %}
        {{ obj.fig_fh.read()|safe }}
      {% else %}
        <a href='#' class='th'>
          <img src="{{ obj.fig }}" alt="{{ obj.name }}">
        </a>
      {% endif %}
    </div>
    <div class='container'>

      <nav class='top-bar fig-nav'>
        <ul class='title-area'>
          <li class='name'>
            {{ obj.name }}
          </li>
        </ul>
        <section class='top-bar-section'>
          <ul class='right'>
            {% if obj.code %}
            <li><a href="{{ obj.code }}"><i class='fi-book'</i></a></li>
            {% endif %}
            {% if obj.ftype != '.html' %}
              <li><a href="{{ obj.fig }}"><i class='fi-download'></i></a></li>
              <li><a href="{{ obj.fig }}"><i class='fi-download'></i></a></li>
              <li><a href="{{ obj.fig }}"><i class='fi-download'></i></a></li>
            {% endif %}
          </ul>
        </section>
      </nav>
 
<!--
      <div class='row'>
        <div class='small-9 columns'>
          <h3 class='subheader'>
           {{ obj.name }}
         </h3>
        </div>
        <div class='small-3 columns'>
            {% if obj.code %}
              <a href="{{ obj.code }}"><i class='fi-book'</i></a>
            {% endif %}
            {% if obj.ftype != '.html' %}
              <a href="{{ obj.fig }}"><i class='fi-download'></i></a>
              <a href="{{ obj.fig }}"><i class='fi-download'></i></a>
              <a href="{{ obj.fig }}"><i class='fi-download'></i></a>
            {% endif %}
        </div>
      </div>
-->
      <hr>

        <!--<span class='title'>
          {{ obj.name }} 
        </span>
        <span class='nav'>
          {% if obj.code %}
            <a href="{{ obj.code }}">Code</a>
          {% endif %}
          {% if obj.ftype != '.html' %}
            <a href="{{ obj.fig }}" class='download-link' title='Download'></a>
            <a href="{{ obj.fig }}" class='download-link' title='Download'></a>
          {% endif %}
        </span>-->
      <div class='bottom'>
          /*Added by {{ obj.mdata['server'].get('source','Unknown') }} at {{ obj.mdata['server']['cdate'] }} */
        <div class='caption'>
          {{ obj.mdata['client'].get('caption','') }}
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}
