{% macro render_figure(obj) -%}
  <div class='figure'>
    <div class='header'>
      <h3> {{ obj.name }} </h3>
    </div>
    <div class='core'>
      {% if obj.ftype == '.html' %}
        {{ obj.fig_fh.read()|safe }}
      {% else %}
        <img src="{{ obj.fig }}"></img>
      {% endif %}
    </div>
    <div class='caption'>
      <p> 
        <b>Caption:</b>
        {{ obj.mdata['client'].get('caption','') }}
      </p>
      <small> 
        <p>
          Added by {{ obj.mdata['server'].get('source','Unknown') }} at {{ obj.mdata['server']['cdate'] }} 
        </p>
        {% if obj.code %}
          <p>
            <a href="{{ obj.code }}">Download figure source code.</a>
          </p>
        {% endif %}
      </small>
    </div>
  </div>
{%- endmacro %}
